
{{> head}}



 {{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Hermosa foto de mi perro</h1>

    </div>

    <div class="col-4">
        <img src="./assets/img/perro.jpg" class="img.thumbnail">

    </div>


</div>



 {{> footer}}
